body {
  background-image: url("../img/blurbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-image: url("../img/imagez.jpg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

ul li {
  list-style: none;
  display: inline-block;
  float: right;
  margin: 50px;
  color: black;
}
ul li:hover {
  background-color: blue;
  font-size: 50px;
  animation: ease-in;
  opacity: 0.8;
  animation-fill-mode: forwards;
}
#landing-content {
  color: #000000;
  background-color: #ffffff;
  margin-top: 200px;
  text-align: center;
}
.row-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 280px 280px 280px 280px;
  grid-gap: 50px;
  padding: 10px;
  align-content: center;
  margin-left: 50px;
}

#address,
#pizza-details-dropdown,
#pizza-details,
#default-pizza-dropdown,
#default-pizza-details,
#sides-dropdown,
#sides-details {
  display: none;
}
